[Unit]
Description=Simple Url Shortener
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/simple-url-shortener
ExecStart=/home/ubuntu/simple-url-shortener/simple-url-shortener
Restart=always
RestartSec=4
StandardOutput=inherit
EnvironmentFile=/home/ubuntu/simple-url-shortener/config.env

[Install]
WantedBy=multi-user.target